/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #202932; /* Changed from blue to #202932 */
    color: #1AA8AF; /* Changed from red to #1AA8AF */
    padding: 20px;
    text-align: center;
}

#site-title {
    font-size: 32px;
}

nav {
    background-color: #202932; /* Changed from blue to #202932 */
    color: #1AA8AF; /* Changed from red to #1AA8AF */
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #1AA8AF; /* Changed from red to #1AA8AF */
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #202932; /* Changed from blue to #202932 */
    color: #1AA8AF; /* Changed from red to #1AA8AF */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
